* {
  margin: 0;
  padding: 0;
}

.container1 {
  display: flex;
  background-color: #fff;
  width: 75vw;
  height: 300px;
  top: 50px;
  left: 10vw;
  position: relative;
  /* box-shadow: 0 1.4rem 8rem rgba(0, 0, 0.2); */
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-family: cursive;
  color: aquamarine;
}

.container2 {
  display: flex;
  background-color: transparent;
  margin-top: 10px;
  top: 100px;
  width: 75vw;
  height: 1500px;
  left: 10vw;
  position: relative;
  flex-direction: row;
}

.container3 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 65%;
  height: 1500px;
  /* box-shadow: 0 1.4rem 8rem rgba(0, 0, 0.2); */
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  /* justify-content: center; */
  align-items: center;
}

.img {
  margin-top: 50px;
  width: 90%;
  height: 350px;
  border-radius: 1rem;
  background-size: cover;
  background-color: red;
  overflow: hidden;
}
.container3 h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5rem;
}

.container3 p,
ul {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  margin-top: 50px;
  width: 90%;
}

.container4 {
  display: flex;
  background-color: transparent;
  width: 30%;
  height: 800px;
  margin-left: 5vw;
  /* box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3); */
  /* border-radius: 1rem; */
  flex-direction: column;
  align-items: center;
}

.container5 {
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 55%;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.container6 {
  display: flex;
  background-color: #fff;
  margin-top: 50px;
  width: 100%;
  height: 40%;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.tags {
  width: 90%;
}
.tag {
  background: lightblue;
  padding: 10px 20px;
  border-radius: 4rem;
  margin-top: 0.6rem;
  display: inline-block;
}
