* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-footer {
  display: block;
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 200px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 200px;
  /* background-color: teal; */
  background: #00121b;
  bottom: 0;
  position: absolute;
}

footer .container1 {
  display: flex;
  width: 97%;
  height: 85%;
  /* background-color: thistle; */
  flex-direction: row;
  justify-content: space-between;
}

footer .container1 .section1,
footer .container1 .section2 {
  display: flex;
  width: 30rem;
  height: 11rem;
  /* background-color: palevioletred; */
}

footer .container1 .section1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: sans-serif;
}

footer .container1 .section1 h1 {
  padding: 10px 10px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

footer .container1 .section1 p {
  color: grey;
  padding: 0px 10px;
  font-size: 15px;
  text-align: justify;
  line-height: 20px;
  margin-top: 5px;
}

footer .container1 .section2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: sans-serif;
}

footer .container1 .section2 h1 {
  margin-left: 0px;
  padding: 10px 10px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

footer .section1 .border,
footer .section2 .border {
  margin-left: 15px;
  height: 2px;
  width: 40px;
  background: #ff9800;
}

footer .container1 .section2 ul {
  margin-left: 5px;
  color: #fff;
  padding: 0px 10px;
  list-style: none;
}

#icon {
  margin-right: 20px;
}

footer .container1 .section2 ul li {
  margin: 10px 0px;
  height: 25px;
}

footer .container2 {
  display: flex;
  width: 100%;
  height: 1.5rem;
  /* background-color: mediumseagreen; */
  bottom: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  padding: 13.5px;
  background: #3d545f;
  color: #fff;
  font-size: 15px;
}

@media screen and (max-width: 1070px) {
  .outer-footer {
    height: 400px;
  }

  footer {
    height: 400px;
  }
  footer .container1 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    padding-top: 5px;
  }
  footer .container1 .section1,
  footer .container1 .section2 {
    display: flex;
    width: 95%;
    height: 14rem;
  }

  footer .container2 {
    height: 2rem;
    font-size: 13px;
  }
}
