*{
  margin: 0;
  padding: 0;
}

/*header{
  
  background-image: linear-gradient(#fff, #c3f5ff);
}*/

main{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.leftside {
  padding-top: 150px;
}

.rightside img{
  max-width: 700px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 80px;

}