@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  width: 100vw;
  height: 8vh;
  justify-content: center;
  align-items: center;
  /* background: black; */
}

nav {
  display: flex;
  position: fixed;
  margin-left: -.7vw;
  top: 0;
  width: 96vw;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  border-radius: 0px  0px 1.5rem 1.5rem;
  padding: 0 1rem;
  /* background-color: rgba(0,0,0,0.92); */
  background-color: black;
  border: 2px solid grey;
  border-top: 0;
  font-family: "Poppins", sans-serif;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3), 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.logo {
  color: rgb(240, 240, 240);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  z-index: 2;
}

.material-icons {
  color: white;
}

.nav-links {
  display: flex;
  /* background: red; */
  list-style: none;
  justify-content: space-around;
  width: 40rem;
  z-index: 5;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  color: rgb(240, 240, 240);
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.7rem;
  position: relative;
}

.nav-links a::before,
.nav-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

.nav-links a::before {
  top: 0;
  transform-origin: left;
}
.nav-links a::after {
  bottom: 0;
  transform-origin: right;
}

.nav-links a:hover::before,
.nav-links a:hover::after {
  transform: scaleX(1);
}

.burger {
  display: none;
  cursor: pointer;
  z-index: 2;
  margin-left: 1rem;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: rgb(240, 240, 240);
  margin: 7px;
  border-radius: 10px;
}

.nav-links.active {
  display: flex;
}

@media screen and (max-width: 1024px) {
  header{
    height: 3rem;
  }
  nav {
    justify-content: space-between;
    padding: 0 1rem;
    min-height: 3rem;
    background: black;
    margin-left: 0vw;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 1.2rem;
    background-color: black;
    width: 96vw;
    height: 40vh;
    border-radius: 0px 0px 2rem 2rem;
    border: 2px solid grey;
    border-top: 0;
    left: -2px;
    z-index: 1;
  }

  .burger {
    display: block;
  }
}
