* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100vh;
  background: white;
  background-size: cover;
}

.navbar {
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.logo {
  float: left;
  padding: 1px 10px;
  margin-bottom: 10px;
}

nav {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  background-color: black;
  font-weight: 400;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-bottom: 10px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}
nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}
