* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 8vh;
  /* background: red; */
  background-size: cover;
}

.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.logo {
  float: left;
  padding: 1px 10px;
  margin-bottom: 10px;
  background-size: contain;
}

nav {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  background-color: black;
  font-weight: 400;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-bottom: 10px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}
nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

.searchbox {
  background-color: black;
  margin-bottom: 10px;
  width: 300px;
  height: 42px;
  border: 4px solid black;
  padding: 0px;
  border-radius: 50px;
}

.elements {
  width: 100%;
  height: 100%;
  vertical-align: medium;
}

.search {
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  font-size: 18px;
  border-radius: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-weight: 500;
}

.search:focus {
  outline: none;
}

.material-icons {
  color: white;
}

.toggle-button {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 1070px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    background-color: black;
    position: fixed;
    margin-top: 1.8rem;
    width: 100%;
    flex-direction: column;
    z-index: 10;
    margin-left: -4.3rem;
    margin-right: 0px;
  }
  .searchbox {
    position: absolute;
    margin-bottom: 0.9rem;
    margin-left: 4rem;
  }

  .navbar-links li {
    padding: 0.7rem;
    text-align: center;
  }

  .navbar-links li a {
    padding: 1rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}

@media (max-width: 400px) {
  .searchbox {
    width: 16rem;
    margin-left: 4rem;
  }
}
